@font-face {
  font-family: 'SF Pro Display';

  font-style: normal;
  src: url('../../assets/fonts/SFPRODISPLAYREGULAR.OTF') format('opentype');
}

@font-face {
  font-family: 'SF Pro Display';
  font-weight: 300;
  font-style: normal;
  src: url('../../assets/fonts/SFPRODISPLAYREGULAR.OTF') format('opentype');
}

@font-face {
  font-family: 'SF Pro Display';
  font-weight: 400;
  font-style: normal;
  src: url('../../assets/fonts/SFPRODISPLAYREGULAR.OTF') format('opentype');
}


@font-face {
  font-family: 'SF Pro Display';
  font-weight: 700;
  font-style: normal;
  src: url('../../assets/fonts/SFPRODISPLAYBOLD.OTF') format('opentype');
}






@font-face {
  font-family: 'SF Pro Display';
  font-weight: 100;
  font-style: italic;
  src: url('../../assets/fonts/SFPRODISPLAYULTRALIGHTITALIC.OTF') format('opentype');
}



@font-face {
  font-family: 'SF Pro Display';
  font-weight: 300;
  font-style: italic;
  src: url('../../assets/fonts/SFPRODISPLAYLIGHTITALIC.OTF') format('opentype');
}


@font-face {
  font-family: 'SF Pro Display';
  font-weight: 400;
  font-style: italic;
  src: url('../../assets/fonts/SFPRODISPLAYLIGHTITALIC.OTF') format('opentype');
}


@font-face {
  font-family: 'SF Pro Display';
  font-weight: 700;
  font-style: italic;
  src: url('../../assets/fonts/SFPRODISPLAYHEAVYITALIC.OTF') format('opentype');
}





@font-face {
  font-family: 'SF Pro Display';

  font-style: normal;
  src: url('../../assets/fonts/SFPRODISPLAYREGULAR.OTF') format('opentype');
}

@font-face {
  font-family: 'SF Pro Display';
  font-weight: 300;
  font-style: normal;
  src: url('../../assets/fonts/SFPRODISPLAYREGULAR.OTF') format('opentype');
}

@font-face {
  font-family: 'SF Pro Display M';
  font-weight: 400;
  font-style: normal;
  src: url('../../assets/fonts/SFPRODISPLAYMEDIUM.OTF') format('opentype');
}


@font-face {
  font-family: 'SF Pro Display';
  font-weight: 700;
  font-style: normal;
  src: url('../../assets/fonts/SFPRODISPLAYBOLD.OTF') format('opentype');
}






@font-face {
  font-family: 'SF Pro Display';
  font-weight: 100;
  font-style: italic;
  src: url('../../assets/fonts/SFPRODISPLAYULTRALIGHTITALIC.OTF') format('opentype');
}



@font-face {
  font-family: 'SF Pro Display';
  font-weight: 300;
  font-style: italic;
  src: url('../../assets/fonts/SFPRODISPLAYLIGHTITALIC.OTF') format('opentype');
}


@font-face {
  font-family: 'SF Pro Display';
  font-weight: 400;
  font-style: italic;
  src: url('../../assets/fonts/SFPRODISPLAYLIGHTITALIC.OTF') format('opentype');
}


@font-face {
  font-family: 'SF Pro Display';
  font-weight: 700;
  font-style: italic;
  src: url('../../assets/fonts/SFPRODISPLAYHEAVYITALIC.OTF') format('opentype');
}





