@import "settings/_all.scss";
@import "styles/_all.scss";


.container{
  margin: 0 auto;
  width: 100%;
  max-width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body{
  font-family: 'SF Pro Display', sans-serif;
  color: var(--black);
  background-color: var(--white);
}


.header_main_container{

  background-image: url("../assets/image_header.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;

  &::before{
    z-index: 1;
    content: '';
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
}
