.property{
  padding:48px 0 ;
  @include desktop{
    padding: 96px 0;
  }
  .container{
    flex-direction: column;
    .property_text{
      display: flex;
      flex-direction: column;
      margin-bottom: 32px;
      position: relative;
      width: 100%;
      @include desktop{
        margin-bottom: 64px;
      }
      h3{
        font-size: var(--fs-h3);
        font-weight: bolder;
        margin-bottom: 16px;
      }
      p{
        line-height: 22px;
        @include desktop{
          max-width: 40%;
        }
      }
      img{
        max-width: 250px;
        margin-top: 32px;
        align-self: center;


        @include desktop{
          max-width: 500px;
          position: absolute;
          bottom: 0;
          right: 0;
        }
      }
    }
    .property_cards{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      gap: 16px;
      @include desktop{
        width: 100%;
        &:hover .property_cards_card:not(:hover){
          //filter:sepia(100%);
          filter: grayscale(100%);
          h5{
            color: var(--black);
          }


        }
      }
      &_card{
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);

        transition: all 0.3s ease-in-out;
        cursor: pointer;
        flex-basis: 200px;
        width: 200px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 16px;
        height: 400px;
        flex-grow: 1;
        @include desktop{
          height: 500px;
          min-width: 70px;
          position: relative;

          &:hover{

            flex-grow: 9;

          }
        }


        h5{
          font-size: var(--fs-h5);
          font-weight: bolder;
          margin-bottom: 16px;
          color: var(--white);
          transition: all 0.3s ease-in-out;
        }

      }
    }
  }
}
