.property{
  padding:48px 0 ;
  @include desktop{
    padding: 96px 0;
  }
  .container{
    flex-direction: column;
    .property_text{
      display: flex;
      flex-direction: column;
      margin-bottom: 32px;
      position: relative;
      @include desktop{
        margin-bottom: 64px;
      }
      h3{
        font-size: var(--fs-h3);
        font-weight: bolder;
        margin-bottom: 16px;
      }
      p{
        line-height: 22px;
        @include desktop{
          max-width: 30%;
        }
      }
      img{
        max-width: 250px;
        margin-top: 32px;
        align-self: center;
        @include desktop{
          max-width: 500px;
          position: absolute;
          bottom: 0;
          right: 0;
        }
      }
    }
    .property_cards{
      @include desktop{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        flex-wrap: wrap;
        gap: 16px;
        &:hover .property_cards_card:not(:hover){
          //filter:sepia(100%);
          filter: grayscale(100%);
          h5{
            color: var(--black);
          }


        }
      }
      &_card{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 32px;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
        min-width: 70px;
        position: relative;
        flex-grow: 1;
        height: 500px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 16px;
        flex-basis: 200px;
        &:hover{

          flex-grow: 9;

        }

        h5{
          font-size: var(--fs-h5);
          font-weight: bolder;
          margin-bottom: 16px;
          color: var(--white);
          transition: all 0.3s ease-in-out;
        }

      }
    }
  }
}
